h1{
    display: block;
    margin: 0% auto;
    max-width: 440px;
}

h2{
    margin-top: 0;
    display: block;
    margin: 0% auto;
    max-width: 440px;
}

h3{
    margin-top: 0;
    font-size: 13px;
    display: block;
    margin: 0% auto;
    max-width: 300px;
    }

h4{
    margin-top: 0;
    display: block;
    margin: 0% auto;
    max-width: 440px;
}

h5{
    margin-top: 0;
    font-size: 13px;
    display: block;
    margin: 0% auto;
    max-width: 300px;
}

h6{
    display: block;
    margin: 0% auto;
    max-width: 440px;
}